.vscode
test.cpp
*.exe
crs
run_tests

# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# Valgrind output
valgrind-out.txt
build/.cmake/api/v1/query/client-integration-vscode/cache-v2
build/.cmake/api/v1/query/client-integration-vscode/cmakeFiles-v1
build/.cmake/api/v1/query/client-integration-vscode/codemodel-v2
build/.cmake/api/v1/query/client-vscode/query.json
